/* https://coolors.co/palette/cad2c5-84a98c-52796f-354f52-2f3e46 */


* {
    box-sizing: border-box;
}

body {
    background-color: #2F3E46;
    color: #CAD2C5;
    font-family: "Inter", sans-serif;
}


h1 {
    padding: 15px;
    font-size: 55px;
}

.gradient-text {
    background: linear-gradient(to right, #CAD2C5, #84A98C);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}



nav {
    display: flex;
    align-items: baseline;
    align-items: center;
    gap: 50px;
}

nav a {
    font-size: 35px;
    display: flex;
    margin: 0;
    padding: 0;
    color: #CAD2C5 
}

/* nav a .brand {
    text-decoration: none;
}

nav a.nav-link {
    text-decoration: underline;
} */


nav a:visited {
    color:#CAD2C5;
}

nav a:active {
    color:#84A98C;
}
