/* https://coolors.co/palette/cad2c5-84a98c-52796f-354f52-2f3e46 */


* {
    box-sizing: border-box;
}

body {
    background-color: #2F3E46;
    color: #CAD2C5;
    font-family: "Inter", sans-serif;
}


h1 {
    padding: 15px;
    font-size: 55px;
}

.gradient-text {
    background: linear-gradient(to right, #CAD2C5, #84A98C);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

nav {
    display: flex;
    align-items: baseline;
    align-items: center;
    gap: 50px;
}

nav a {
    font-size: 35px;
    display: flex;
    margin: 0;
    padding: 0;
}

nav a:visited {
    color:#CAD2C5;
}

nav a:active {
    color:#84A98C;
}


.bio-card {
    display: flex;               
    flex-direction: column;     
    background-color: #CAD2C5;           
    padding: 15px;
    border-radius: 12px;        
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    max-width: 90%;            
    margin: 20px auto;           
}

.bio-card h2 {
    color: #2F3E46;
}

.bio-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.img-card {

    background-color: #84A98C;
    border: 6px solid #84A98C;
    border-radius: 12px;

    width: 292px;
    height: auto;
    display: flex;
}

.img-card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px; /* slightly smaller than parent so border shows */
}


.text-card {

    width: 400px;

    max-height: 700px;
    overflow-y: auto;
    padding-right: 10px;

    background-color: #84A98C;
    color: #CAD2C5;
    border-radius: 12px;

    text-align: left;

    flex: 1;
    line-height: 1.6;
    overflow-wrap: break-word;
}

.text-card p {
    padding-left: 10px;
}
