* {
    box-sizing: border-box;
    background-color: #2F3E46;
    color: #CAD2C5;
    font-family: "Inter", sans-serif;
}

h1 {
    padding: 15px;
    font-size: 55px;
}

.gradient-text {
    background: linear-gradient(to right, #CAD2C5, #84A98C);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

nav {
    display: flex;
    justify-content: first baseline;
    align-items: center;
    gap: 50px;
}

nav a {
    font-size: 35px;

    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
