/* https://coolors.co/palette/cad2c5-84a98c-52796f-354f52-2f3e46 */


* {
    box-sizing: border-box;
}

body {
    background-color: #2F3E46;
    color: #CAD2C5;
    font-family: "Inter", sans-serif;
}


h1 {
    padding: 15px;
    font-size: 55px;
}

.gradient-text {
    background: linear-gradient(to right, #CAD2C5, #84A98C);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}



nav {
    display: flex;
    align-items: baseline;
    align-items: center;
    gap: 50px;
}

nav a {
    font-size: 35px;
    display: flex;
    margin: 0;
    padding: 0;
    color: #CAD2C5 
}

/* nav a .brand {
    text-decoration: none;
}

nav a.nav-link {
    text-decoration: underline;
} */


nav a:visited {
    color:#CAD2C5;
}

nav a:active {
    color:#84A98C;
}

/* REFACTOR THIS TO MAKE THE MAIN CARD ONE CLASS TS IS HORRIBLE TO SCALE */

.org-card {
    display: flex;               
    flex-direction: column;     
    background-color: #CAD2C5;           
    padding: 15px;
    border-radius: 12px;        
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    max-width: 90%;            
    margin: 20px auto;
    gap: 15px;        
}

.org-card h2 {
    padding: 0px;
    margin: 0px;
    color: #2F3E46;
}

.org-card .prof-org {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #84A98C;
    border-radius: 12px;
    gap: 15px;
}

.org-card .social-org {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #84A98C;
    border-radius: 12px;
    gap: 15px;
}

.org-card .podcast {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #84A98C;
    border-radius: 12px;
    gap: 15px;
}

.org-card a {
    margin: 0;
    padding: 0;
    color: #2F3E46; 
}

.org-card a:visited {
    color:#2F3E46;
}

.org-card a:active {
    color:#84A98C;
}

.card-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.img-card {
    background-color: #52796F;
    border: 6px solid #52796F;
    border-radius: 12px;

    width: 256px;
    height: 256;
    box-sizing: border-box;
}

.img-card img {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: fill;
    border-radius: 8px; /* slightly smaller than parent so border shows */
}

.text-card {

    width: 30%;

    max-height: 400px;
    overflow-y: auto;
    padding-right: 10px;

    background-color: #52796F;
    color: #CAD2C5;
    border-radius: 12px;

    text-align: left;
    font-size: 18px;

    flex: 1;
    line-height: 1.6;
    overflow-wrap: break-word;
}

.text-card p {
    padding-left: 10px;
}